.App {
    text-align: center;
    background-color: #f8f9fa; /* Light gray background */
    min-height: 100vh; /* Ensure the background covers the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .table-hover tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
    
  }
  
  .btn-container {
    margin-top: 20px;
  }
  
  h2 {
    margin-top: 20px;
    color: #343a40;
  }
  
  .btn-lg {
    margin-top: 10px;
  }
  
  .mt-5 {
    margin-top: 3rem;
  }